$main-color: #f2f5fa
$header-color: #6690ff
$header-sidebar-color: #1e21ff
$sidebar-background: #463bfb
$menu-sidebar-deactive: #6793fc
$menu-sidebar-active: #b0b2eb
$h2-text: #14133d
$menu-text-color: #fff
$block-color: #fff

$phone: "(max-width: 480px)"
$tablet: "(min-width: 481px) and (max-width: 1019px)"
$desktop: "(min-width: 1020px) and (max-width: 1279px)"
$large-desktop: "(min-width: 1280px)"
    